body {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.list {
  list-style-type: none;
  font-size: 30px;
  line-height: 60px;
}

.input-field {
  width: 400px;
  height: 60px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 30px;
}

.countries {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.parameters-container {
  display: flex;
  justify-content: space-around;
}

.info {
  text-align: start;
}

.info__item {
  font-size: 25px;
  line-height: 40px;
}

.info__languages {
  font-size: 25px;
}
